@import "tailwindcss";

@theme {
  --color-primary: #155DFC;
  --color-secondary: #0BEAFE;
  --color-primary-light: #F9F8FF;
  --color-sidebar-active: #DBEAFE;

  --color-error: #B91C1C;
  --color-error-light: #FEE2E2;
  --color-warning: #FFCC00;
  --color-warning-light: #FFF3C5;
  --color-success: #15803D;
  --color-success-light: #DCFCE7;
  --color-info: #004FC4;
  --color-info-light: #DBDDFF;
  --color-return: #C2410C;
  --color-return-light: #FFEDD5;

  --color-text-primary: #0F172A;
  --color-text-muted: #64748B;

  --font-body: "Inter", sans-serif;


  --font-size-h1: 1.875rem;
  --font-size-h2: 1.44rem;
  --font-size-h3: 1.125rem; 
  --font-size-body-lg: 1rem;
  --font-size-body-md: 0.875rem;
  --font-size-body-sm: 0.8125rem;
  --font-size-caption: 0.75rem;

}

@layer base {
  body {
    font-family: var(--font-body);
    background-color: #F8FAFC;
    color: var(--color-text-primary);
    line-height: 1.3;
  }
}